<h1>Your Orders</h1>

<% @user.orders.each do |order| %>
<section class="order-<%= order.id %>">
  <h3>Order Status: <%= order.status %></h3>
  <p><%= link_to "Order ##{order.id}","/profile/orders/#{order.id}" %>
  <p>Order placed at: <%= order.created_at %></p>
  <p>Order last updated at: <%= order.updated_at %></p>
  <p>Total number of items: <%= order.total_quantity %></p>
  <h3>Shipping Info</h3>
  <p>Name:<%= order.name %></p>
  <p>Address: <%= order.address %></p>
  <p>City: <%= order.city %></p>
  <p>State: <%= order.state %></p>
  <p>Zip: <%= order.zip %></p>

  <% order.items.each do |item| %>
    <p><%= item.name %></p>
  <% end %>

  <p>Grand Total: <%= number_to_currency(order.grandtotal) %></p>
<% end %>
</section>
