<h1>Edit your Password</h1>

<%= form_tag '/profile/password_update', method: :patch do %>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <%= label_tag "Confirm Password" %>
  <%= password_field_tag :c_password %>
  <%= submit_tag "Submit" %>
<% end %>
