<h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>
<p class="address"><%= @merchant.address %></p>
<p class="address"><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>

<ul><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></ul>
<ul><%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %></ul>
<ul><%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete  if @merchant.no_orders?%>
</ul>
<section class = "merchant-stats">
  <p>Number of Items: <%=@merchant.item_count%></p>
  <% if @merchant.item_count > 0 %>
    <p>Average Price of Items: <%=number_to_currency( @merchant.average_item_price)%></p>
    <section class = "distinct-cities">
      <p>Cities that order these items:</p>
      <% @merchant.distinct_cities.each do |city| %>
        <p><%= city %></p>
      <% end %>
    <% end %>
  </section>
</section>
