<h1><%= @user_show.name %></h1>

<p>Email: <%= @user_show.email %></p>
<p>Address: <%= @user_show.address %></p>
<p>City: <%= @user_show.city %></p>
<p>State: <%= @user_show.state %></p>
<p>Zip: <%= @user_show.zip %></p>
